/*
*
*Creación de nuevos estilos sobre los ya existentes en bootStrap.css
*
* @ Author Susana Costoya
*/





/***************************** Estilos Body ************************************/ 
body{
	
	color:#868686;
	
}

/* Botones por defecto*/

.btn-default {
  color: #fff;
  background-color: #7CA8CF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #A3BDD4;
}

/*****************************Barra de navegación************************************/
.navbar-default .navbar-brand {
  color: #7CA8CF;
  font-size: 20px; 
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #A3BDD4;
 }

/***************************** Estilos nuevos aplicados en la DataTable ************************************/ 

.table > tbody > tr:nth-child(even){
    background-color: rgba(124, 168, 207, 0.2);
}

.table > thead > tr{
    background-color: rgba(124, 168, 207, 0.8);
    color:#fff;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: rgba(124, 168, 207, 0.57);
}

.resultados{	
	color: #A3BDD4;
	text-align: right;
}

.dataTables_wrapper .dataTables_length_right{
	 float:right;
}

label{
	color: #A3BDD4;	
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active  {
  color: #A3BDD4 !important;
  border: 1px solid #ccc;
   background-color: rgba(124, 168, 207, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, gainsboro 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color: #A3BDD4 !important;
  	border: 1px solid #ccc;
   	background-color: rgba(124, 168, 207, 0.2);
}




.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper 
.dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper 
.dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #A3BDD4 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}




.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_paginate .paginate_button{
	
	color: #A3BDD4 !important;
}

.panel-default > .panel-heading{
	
	background-color: rgba(124, 168, 207, 0.8);
    color:#fff;
    font-weight: bold;
    
}


/*************************** @media ***********************************/

@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 8px;
    margin-left: 8px;
  }
}





