body {
    background-color: #eee;
}

.registro{
	float:left;
	width: 300px;
	padding:10px;
	background-color:#B6CEDE;
	border: 1px solid #55ACE6;
	border-radius:10px;
	text-align: center;
	margin-top: 10px;
}

.registro h1, .resultados h1{
	font-family: Helvetica;
	font-size: 30px;
	color:#55ACE6;
}

.registro h2{
	font-size: 20px;
	color:#55ACE6;
}

.registro form input{
	height: 40px;
	margin-top: 5px;	
	font-family: Helvetica;
	font-size: 15px;
	color:#55ACE6;
	padding: 5px; 
	border-radius:4px; 
	border: 1px solid #55ACE6;	
}

.registro form input[type="text"]{
	width: 90%;
}

.registro form input[type="submit"]{
	background-color:#55ACE6;
	color:#B6CEDE;
	font-weight: bold; 	
} 

.registro form input placeholder{
	color:#55ACE6;	
} 	 	

.resultados{
	float:right;
	margin-left: auto;
    margin-right: auto;
	width:70%;
	padding:10px;
	background-color:#B6CEDE;
	border: 1px solid #55ACE6;
	border-radius:10px;
	text-align: center;
	margin-top: 10px;
}

.resultados h2{
	font-family: Helvetica;
	font-size: 20px;
	color:#999;
	
}

.resultados .blanco li.vcard{
	border-top:2px solid #999;
}

.resultados .blanco li{
	list-style-type:none; 	
	padding: 20px;
	text-align: left; 
	overflow: auto;
}

.resultados .blanco  li a {
	text-decoration:none;
	text-transform:uppercase;
	color:#55ACE6;	
	padding: 20px;
	text-align: left; 
}

.resultados .blanco  li ul {
	margin: 0px; 
	height:20px;;
}

.resultados .blanco li.view-profile{
	float:right;
	padding:0px;
	overflow: hidden;
}


.resultados .blanco li dl {
	display:inline-block;
	float: right;
	width:650px;	
	
}

